                <h2>Menu</h2>
                <div id='nav'>
                    <ul>
                        <li><a href='#'>Créer partie</a></li>
                        <li><a href='#'>Rejoindre partie</a></li>
                        <li><a href='#'>Observer partie</a></li>
                        <li><a href='#'>Quitter</a></li>
                        <li>
                            <input type="submit" id="send" value="QUITTER" class="submit"/>
                        </li>
                    </ul>
                </div>